<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/imshivang007"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/shivang-gupta-65744a225"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/imshivang_7/?hl=en"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div class="f-info-brand"> &copy;HostHaven Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>